global
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option http-keep-alive

frontend nexus_front
    bind *:80
    acl is_admin path_beg /v2/admin
    http-request deny deny_status 403 if is_admin
    default_backend nexus_back

backend nexus_back
    server gunicorn 127.0.0.1:8000
